<h1>Editing room_photo</h1>
<%= form_for [:admin, @hotel, @room, @room_photo], :url => admin_hotel_room_photo_path(@hotel.id, @room.id, @room_photo.id), :html => {:multipart => true} do |f| %>
<%= render :partial => "form", :object => f, :locals => { :hotel => @hotel, :room => @room, :room_photo => @room_photo } %>
<% end %>
