<h1>Editing specialty</h1>

<%= render 'form' %>

<div data-role="controlgroup" data-mini="true" data-type="horizontal">
<%= link_to t("admin.labels.show"), admin_hotel_specialty_path(@hotel, @specialty), data: {role: "button"} %>
<%= link_to t("admin.labels.cancel"), admin_hotel_specialties_path(@hotel), data: {role: "button"} %>
</div>
