<h1>New specialty</h1>

<%= render 'form' %>

<div data-role="controlgroup" data-mini="true" data-type="horizontal">
<%= link_to t("admin.labels.cancel"), admin_hotel_specialties_path(@hotel), data: {role: "button"} %>
</div>
