<h1>Listing accounts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |account| %>
  <tr>
    <td><%= link_to 'Show', admin_account(account) %></td>
    <td><%= link_to 'Edit', edit_admin_account_path(account) %></td>
    <td><%= link_to 'Destroy', admin_account(account), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

