<h1>Hotel#index</h1>
<p>Find me in app/views/hotel/index.html.erb</p>



<div data-role="footer">
  <div class="ui-grid-b">
    <div class="ui-block-a"><a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-location ui-btn-icon-notext"></a></div>
    <div class="ui-block-b"><a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-comment ui-btn-icon-notext"></a></div>
    <div class="ui-block-c"><a href="#" ></a></div>
    <div class="ui-block-a"><a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-tag ui-btn-icon-notext"></a></div>
    <div class="ui-block-b"><a href="#" class="ui-btn ui-shadow ui-corner-all ui-icon-info ui-btn-icon-notext"></a></div>
    <div class="ui-block-c"><a href="#" ></a></div>
  </div>

</div>