<h1>New photo</h1>
<%= form_for [:admin, @hotel, @hotel_photo], :url => admin_hotel_photos_path(@hotel), :html => {:multipart => true} do |f| %>
<%= render :partial => "form", :object => f %>
<% end %>