// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: #ccc !important;
}
table {
	td {
		text-align: center;
	}
}
#hotel-rooms {
	width: 100%;
}
#main-page {
	background: #fff;
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

.square-box{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // border-radius: 50% !important;
}
// .square-content div {
//    display: table;
//    width: 100%;
//    height: 100%;
// }
// .square-content span {
//     display: table-cell;
//     text-align: center;
//     vertical-align: middle;
//     color: white
// }