// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background: #ccc !important;
}
table {
	td {
		text-align: center;
	}
}
#hotel-rooms {
	width: 100%;
}
#main-page {
	background: #fff;
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

.square-box{
    position: relative;
    max-width: 500px;
    max-height: 500px;
    overflow: hidden;
    margin: 0 auto;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 500px;
    max-height: 500px;
    // border-radius: 50% !important;
}
#nearest-controlls{
    
}

#nearest-controlls{
    margin-bottom: 30px;
}

.hd-link{
    width: 80%;
    height: 40px;
    line-height: 40px;
    font-size: 20px !important;
}