<h1><%= t "admin.images.new.title" %></h1>

<%= render 'form' %>

<div data-role="controlgroup" data-mini="true" data-type="horizontal">
  <%= link_to t("admin.labels.cancel"), admin_images_path, data: {role: "button"} %>
</div>
